{% extends "layout.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

<div class="page-header">
	<a href="/" class="logo wd42"><span class="name">WD</span><span class="name-long">Web Developer</span><span class="organisation">42&deg;</span></a>
	<div class="tagline">The meetup at the end of the universe...</div>
</div>

<div class="details-general">
	<div class="wrap">
		<h1>Server error</h1>
		<p>Something broke. Sorry.</p>
		<p>Maybe try again later?</p>
	</div>
</div>

{% endblock %}
